<!-- Devin's html/css hard coding -->
<script type="text/javascript">
  //for external debugging
  debug = false;
</script>
<style type="text/css">
  html {
    -moz-font-smoothing:antialiased !important;
    -o-font-smoothing:antialiased !important;
    -webkit-font-smoothing:antialiased !important;
    -ms-font-smoothing:antialiased !important;
    font-smoothing:antialiased !important;
    font-family:"Myriad Pro", "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
  }
  #main {
    width: 100%;
    height: 100%;
    position: fixed;
  }
  #leftColumn {
    width: 22%;
    position: absolute;
  }
</style>
<div id="main">

  <div id="leftColumn">
    <div id="tweets">
       
    </div>
    <script type="text/javascript">
      function insertTweets() {
      
      }
      window.url = window.location.href;
      
    //if (we have a hash topic, continue) else error. 
      if (url.indexOf('chirped.it/#') > 0) {
        topic = topic.substr(topic.indexOf('chirped.it/#') + 12, topic.length );
        getTweets(topic, insertTweets);
      } else {
        debug && alert('the code at hashtags/index.html.erb expects the url to fit the pattern chirped.it/#topic. The url was read as: ' + url);
      }
    </script>
  </div> 
  
  
  <style type="text/css">
    #rightChat {
      width: 78%;
    }
    #go {
      width: 50px;
      height: 50px;
      display: block;
      background: rgb(60, 166, 248);
      color: white;
      font-size: 24px;
    }
  </style>
  <div id="rightChat">
    <div id="title">
      <input type="text" id="titleInput" name="titleInput">
      <span id="go">go</span>
    </div>
  
  </div>

</div>
</html>