<!-- Devin's html/css hard coding -->
<script type="text/javascript">
  window.trueUrl = false; //I'm working locally, switch this to true for pushing :/
  
      //Devin's DOM method wrappers (faster than jQuery!)
      window.d = {};
      var doc = document;
      d.id = function(el) {
        return doc.getElementById(el);
      }
      d.class = function(el) {
        return doc.getElementsByClassName(el);
      }
      
</script>
<title>CHIRPED.IT!</title>
<style type="text/css">

/*temp import from app template*/
        /*reset css from yui*/
        body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
        form,fieldset,input,textarea,p,blockquote,th,td{ 
          margin:0;
          padding:0;
        }
        table {
          border-collapse:collapse;
          border-spacing:0;
        }
        fieldset,img { 
          border:0;
        }
        address,caption,cite,code,dfn,em,strong,th,var {
          font-style:normal;
          font-weight:normal;
        }
        ol,ul {
          list-style:none;
        }
        caption,th {
          text-align:left;
        }
        h1,h2,h3,h4,h5,h6 {
          font-size:100%;
          font-weight:normal;
        }
        q:before,q:after {
          content:'';
        }
        abbr,acronym { border:0;
        }
        /*global styles*/
        html {
          -moz-font-smoothing:antialiased !important;
          -o-font-smoothing:antialiased !important;
          -webkit-font-smoothing:antialiased !important;
          -ms-font-smoothing:antialiased !important;
          font-smoothing:antialiased !important;
          font-family:"Myriad Pro","Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
        }
        a {
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
/*end temp import from app template*/
        

  #main {
    width: 980px;
    height: 100%;
    margin: auto;
  }
</style>
<div id="main">

<!-- The general scheme from here on:
  left column styles, 
  left column html
  left column js

  right column styles, 
  right column html
  right column js
 -->
  
  <style type="text/css">
    #leftColumn {
      width: 343px;
    }
    #logo {
      height: 100px;
      width: 100%;
    }

    .leftDiv {
      border-radius: 8px;
      background-color:white;
    }
    .leftDivTitle {
      font-size: 24px;
    }

    .members { /*members of this chat room*/
      height: 300px;
    }
    .tweets {
      height: 500px;
    }
    
    .memberThumbnail {
      border-radius: 4px;
    }
  </style>
  <div id="leftColumn">
    
    <img id="logo" src="http://foo.jpg.to/" />
    
    <div class="members leftDiv">
    
      <span class="leftDivTitle">In this chatroom <a id="inviteMore">invite more</a></span>
      <div id="memberThumbnails">
        <span class="memberThumbnailSpan">
          <img class="memberThumbnail" src="http://thescoutapp.com/X/DevinThumbnail.png" />
        </span>
      </div>
      
    </div>
    
    <div class="tweets leftDiv">
       <span class="leftDivTitle">Tweets with #<span id="topic"></span></span>
    </div>
    <script type="text/javascript">
      d.id('inviteMore').onclick = function(e) {
        //javascript etc. dadada (emailed out task)
      };
      window.url = window.location.href;
      window.topic = 'devin-default';
      function insertTweets() {
        
      }
      
      if (url.indexOf('chirped.it/#') > 0) {
        window.topic = url.substr(url.indexOf('chirped.it/#') + 12, url.length);
        getTweets(topic, insertTweets);
      } else {
        trueUrl && alert('expecting the url format chirped.it/#foo -devin');
      }
      d.id('topic').innerText = topic;
    </script>
  </div> 
  
  
  <style type="text/css">
    #rightChat {
      width: 637px; /*65% of 980px*/
      right: 0px;
      position: relative;
      float: right;
    }
    #go {
      width: 100px;
      height: 100px;
      background: rgb(60, 166, 248);
      color: white;
      display: block;
      font-size: 74px;
      cursor: pointer;
      float: right;
    }
    #go > span {
      position: relative;
      left: 9px;
      bottom: 3px;
    }
    #titleInput {
      font-size: 74px;
      width: 534px;
      height: 100px;
    }
  </style>
  <div id="rightChat">
    <div id="title">
      <input type="text" id="titleInput" name="titleInput" value="#">
      <span id="go">
        <span>go</span>
      </span>
    </div>
    
    <script type="text/javascript">
      var titleInput = d.id('titleInput');
      titleInput.setAttribute('value', '#'+topic);
      d.id('go').onclick = function(e) {
        var titleInputText = titleInput.getAttribute('value');
        window.location.href = 'http://chirped.it/#' + titleInputText.substr(1,titleInputText.length);
      }
    </script>
  </div><!-- End #rightChat -->

</div>
</html>