 <ul>
  <%= render @hashtags %>
</ul>


<!-- Devin's html/css hard coding -->
<style type="text/css">
  #main {
    width: 100%;
    height: 100%;
    position: fixed;
  }
</style>
<div id="main">

</div>
