<!DOCTYPE html>
<html>
<meta property="og:title" content="Chirped.it - faster discussion for when twitter can't take the heat" />
<meta property="og:type" content="company" />
<meta property="og:site_name" content="Chirped.it" />
<meta property="og:url" content="http://www.Chirped.it" />
<meta property="og:description" content="Chirped.it from StartupWeekend San Jose is launching by tonight.. and I'm first in line!" />
<title>Chirped.it</title>

<div rel="BN3OPJ0O" class="lrdiscoverwidget" data-logo="on" data-background="on" 
  data-share-url="Chirped.it" data-css=""></div>
<script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>
</html>