  <style type="text/css">
    html {
      background-color: rgb(51, 82, 127);
      background: -moz-radial-gradient(circle, white, rgb(51, 82, 127));
      background: -webkit-radial-gradient(circle, white, rgb(51, 82, 127));
      height: 100%;
      
      -moz-font-smoothing:antialiased !important;
      -o-font-smoothing:antialiased !important;
      -webkit-font-smoothing:antialiased !important;
      -ms-font-smoothing:antialiased !important;
      font-smoothing:antialiased !important;
      font-family:"Myriad Pro", "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    }
    h1, h2 {
      color: white;
      text-shadow: 1px 1px 1px black, 1px 1px 90px white;
    }
    h1 {
      font-size: 59px;
    }
    h2 {
      font-size: 30px;
    }
    a {
     text-shadow: none;
    }
    body {
      text-align: center
    }
  </style>
  <h1>Welcome to Chirpd.it!</h1>
  <h2>Join our featured chatroom, StartupWeekend San Jose: <a href="http://chirpd.it/#SWSJ">#SWSJ</a></h2>
